/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body {
    min-width: 1000px;

    @include sp {
        min-width: inherit;
    }
}