/*------------------------------------------------------------
icon
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-icon {
    @include pc {
        display: none;
    }

    $root: &;
    position: relative;
    width: 16px;
    height: 16px;
    display:block;
    margin-left: 20px;
    transition: all 0.4s;
    cursor: pointer;


    &__line {
        display: inline-block;
        transition: all 0.4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        border-radius: 4px;

        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            top: 7px;
        }

        &:nth-of-type(3) {
            bottom: 0;
        }
    }

    // click
    //--------------------------------------------------------
    &.on {
        #{$root}__line {
            &:nth-of-type(1) {
                transform: translateY(8px) rotate(-45deg);
            }

            &:nth-of-type(2) {
                left: 50%;
                opacity: 0;
                animation: c-icon3-bar2 0.8s forwards;
            }

            &:nth-of-type(3) {
                transform: translateY(-6px) rotate(45deg);
            }
        }
    }

    // keyframes
    //--------------------------------------------------------
    @keyframes c-icon3-bar2 {
        100% {
            height: 0;
        }
    }
}