/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-navi1 {
    $root: &;
    background: #000000;
    text-align: center;
    width: 100%;
    position: relative;

    @include pc {
        display: block !important;
    }

    @include sp {
        display: none;
    }

    li {
        display: inline-block;

        margin: 0 30px;

        @include pc {
            &:hover {
                background: #242424;

                #{$root}__child {
                    visibility: visible;
                    opacity: 1;
                    z-index: 99;

                }
            }

        }

        @include sp {
            margin: 0;
            padding: 0 30px;
            background: #242424;
            text-align: left;
            display: block;

        }
    }

    &__item {
        font-size: 1.2rem;
        position: relative;
        color: #fff;
        padding: 19px 15px;

        @include sp {
            border-bottom: 2px solid #888;
            color: #aaa;
            padding: 0;
            padding-bottom: 6px;
            font-size: 1.7rem;
        }


        a {
            text-decoration: none;
            color: #fff;
            opacity: 1 !important;
            @include abf;
        }
    }

    &__child {
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        background: #242424;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        transition: opacity .3s;
        cursor: initial;

        @include sp {
            opacity: 1 !important;
            z-index: 99 !important;
            visibility: visible !important;
            position: relative;
            top: 0;

        }

        &__content {
            width: 100%;
            max-width: 850px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 45px;

            @include sp {
                padding-bottom: 20px;
            }

            div {
                width: 25%;
                margin-top: 30px;

                @include sp {
                    width: 100%;
                    margin-top: 0;
                    padding-left: 10px;
                    margin-bottom: 10px;
                }
            }

            p {
                text-align: left;
                width: 90%;
                font-size: 1.2rem;
                position: relative;
                padding: 5px 10px;

                @include pc {
                    &:hover {
                        background: #666;
                    }
                }

                @include sp {
                    width: 100%;
                    margin-left: 10px;
                    font-size: 1.4rem;
                }

                &:first-child {
                    border-bottom: 1px solid #424242;
                    font-size: 1.4rem;
                    margin-bottom: 10px;
                    padding-left: 0;

                    @include sp {
                        margin-bottom: 0px;
                        margin-left: 0;
                        font-size: 1.6rem;
                    }

                }
            }

            a {
                color: #fff;
                text-decoration: none;
                @include abf;
            }
        }
    }

    &__form {
        padding: 15px 0;

        form {
            display: flex;
            flex-wrap: wrap-reverse;
            justify-content: space-between;
        }

        input[type=text] {
            background: none;
            text-indent: 5px;
            border: none;
            border-bottom: 1px solid #fff;
            width: calc(100% - 28px);
            color: #fff;
        }

        input[type=submit] {
            background: url(/assets/img/common/btn_arrow_2.png) no-repeat center top;
            width: 24px;
            height: 24px;
            border: none;
        }
    }

    &__tit {
        font-size: 1.25rem;
        color: #aaa;
        padding-top: 20px;
        font-weight: normal;
    }

    &__bnt {
        color: #fff;
        display: block;
        text-decoration: none;
        background: #666666;
        text-align: center;
        padding: 8px 0;
        font-size: 1.1rem;
        margin-top: 7px;
    }

    &__note {
        text-align: center;
        padding: 10px 0 15px;
        text-align: center;
        font-size: 9px;
        color: #fff;
    }

    &__text {
        font-size: 1rem;
        color: #fff;
    }

    &__tel {
        color: #fff;
        font-size: 1.4rem;
        background: url(/assets/img/common/icon_tel.gif) no-repeat center left;
        background-size: 20px;
        padding: 10px 0;
        padding-left: 30px;
    }
}